html {
    background-color: rgb(35, 35, 47) !important;
}

body {
    overflow-x:hidden;
    color: #FFF !important;
    background-color: rgb(35, 35, 47) !important;
}
@font-face {
    font-family: MmrText;
    src: url(/Public/fonts/mmrtext.ttf);
}
select {
    margin: 50px;
    width: 100%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height:50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../Img/mouse-hover-icon-22.jpg) 96% / 30px no-repeat #EEE;
}

a {
    text-decoration: none;
    position: relative;
    color:#000000;
}
a:hover {
     text-decoration: none !important;
 }
a span {
    display: none;
    position: absolute;
    color: #676EFF;
    background: #676EFF;
    padding: 5px;
}
a:hover span {
    display: inline-block; text-align: center;
    width: 250px;
    min-height: 30px;
    margin-top: 25px;
    font-family: pt-sans, sans-serif;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
input {
    font-family: pt-sans, sans-serif;
    height: 50px;
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
}
table tr th,
table tr td {
    padding: 10px;
}
ul#ul-class-navigation {
    right: 10px;
    line-height: 200px;
    position: absolute;
}
ul#ul-class-navigation li {
    color: white;
    display: inline;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: currentcolor;
}
#Header {
    position: fixed;
    top:0;
    background-color: rgb(35, 35, 47);
    width: 100%;
    height: 200px;
    z-index: 1;
    border-bottom: 1px solid rgb(36, 41, 143);
}
#Content {
    margin-top: 200px;
}
#FilterFrame {
    position: fixed;
    width: 19%;
    background-color: rgba(35, 40, 47, 0.8);
    float: left;
    top:216px;
    border: 1px solid #fff;
    margin-left: 5px;
    margin-top: 10px;
    padding: 20px;
}
#ResultsArea.Browse  {
    width: 78%;
    margin-left: 21%;
    float: left;
    position: sticky;
}
#ProductFrame {
    width: 100%;
    height: 250px;
    margin-top: 15px;
    position: relative;
    padding: 1px;
    border-bottom: 1px solid #fff;
}
.ImgFrame {
    width: 230px;
    height: 230px;
    background-color: rgb(36, 41, 143);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px
}
.ImgFrame img {
    width: 230px;
    height: 230px;
}
#StockItemFrameRight {
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    top: 0;
}
.ItemName {
    position: relative;
    top: 10px;
    font-family: pt-sans, sans-serif;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.ItemQuantity {
    position: absolute;
    left: 250px;
    bottom: 2.5px;
    color: white;
    font-size: 15px;
}
#VideoFrame {
    width: 100%;
    height: 350px;
    background-color: #d6d6d6;
    margin-bottom: 10px;
}
#ArticleHeader {
    width: 100%;
    height: 300px;
    position: relative
}
#ImageFrame {
    width: 300px;
    height: 300px;
    background-color: rgb(36, 41, 143);
    float: left;
    margin-right: 10px;
}
.QuantityText {
    position: absolute;
    left: 310px;
    bottom: 0;
}
#StockItemHeaderLeft {
    float: right;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}

.StockItemNameViewSize {
    font-size: 35px !important;
}
.CenterPriceLeft {
    position: absolute;
    height: 100%;
    right: 0;
    width: 200px;
}
.CenterPriceLeftChild {
    position: relative;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#StockItemDescription {
    background-color: rgba(35, 40, 47, 0.8);
    width: 49%;
    float: left;
    padding: 10px;
    margin-top:10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
#StockItemSpecifications {
    background-color: rgba(35, 40, 47, 0.8);
    width: 49%;
    float: left;
    padding: 10px;
    margin-left: 1%;
    margin-top:10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
.Labels {
    margin-bottom: 0;
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
}
.Background {
    background-color: #23232F;
    width: 100%;
    height: 100%;
    position: absolute;
}
#LogoA {
    height: 200px;
    width: 100%;
    position: absolute;
}
#LogoImage {
    background-image: url("../ProductIMGHighRes/NerdyGadgetsLogo.png");
    width: 250px;
    height: 90px;
    margin: 55px 55px 55px 10%;
}
ul#ul-class li {
    display: inline;
    color: white;
    margin-right: 1em;
    font-size: 18px;
    text-decoration: none;
    line-height: 200px;
}
ul#ul-class-price li {
    display: inline;
}
.TextPrice {
    margin-top: 16%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.HrefDecoration {
    color: #ffffff;
}

.HrefDecoration i.search {
    color: #676EFF;
}

.HrefDecoration:hover, .HrefDecoration:active {
    text-decoration: none;
    color: #ccc;
}
.TextMain {
    color: #fff;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    width: 60%;
    margin-left: 10%;
}
.HomePagePrice {
    color: #676EFF;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 7%;
}
.HomePageStockItemPicture {
    background-image: url("../ProductIMGHighRes/580b57fbd9996e24bc43bf55.png");
    background-size: 100% 100%;
    width: 477px;
    height: 477px;
    background-repeat: no-repeat;
    margin-left: 55%;
    margin-top: -30%;
}
#Wrap {
    width: 100%;
    height: 600px;
    margin-top: 3%;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.StockGroups {
    position: relative;
    border: 1px solid slategrey;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 1.5%;
    font-family: vortice-concept, sans-serif;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
#StockGroup1 {
    width: 18%;
    height: 600px;
    margin-left: 5%;
}
#StockGroup2 {
    width: 18%;
    height: 600px;
    background-size: cover;
}
#StockGroup3 {
    width: 15%;
    height: 41.5%;
}
#StockGroup4 {
    width: 30%;
    height: 250px;
}
#StockGroup5 {
    width: 25%;
    height: 53.5%;
    margin-top: 1.5%;
}
#StockGroup6 {
    width: 20%;
    height: 53.5%;
    margin-left: 1.5%;
    margin-top: 1.5%;
}
.StockGroups h1 {
    position: absolute;
    left:0;
    right: 0;
    font-size: 25px;
}
#StockGroup2 h1 {
    bottom: 0;
}
#StockGroup1 h1 {
    bottom: 0;
}
#StockGroup5 h1 {
    bottom: 0;
}
#StockGroup6 h1 {
    bottom: 0;
}
#Wrap a {
    text-decoration: none;
    color: white;
}
#Wrap a:hover {
    color: #ccc;
    opacity: 0.9;
}
.StockItemPriceText {
    font-family: vortice-concept, sans-serif;
    color: #676EFF;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
}
.StockItemPriceText:hover {
    text-decoration: none;
}
.StockItemID {
    font-family: vortice-concept, sans-serif;
    color: #676EFF;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}
.StockItemName {
    font-family: pt-sans, sans-serif;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.StockItemComments {
    font-family: pt-sans, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
#CenteredContent {
    margin: 0 auto;
    width: 70%;
    padding-top: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#ImageCarousel {
    width: 300px;
    height: 300px;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    width: 20px;
    height: 20px;
}
.ListItem:hover {
    text-decoration: none;
}
#NoSearchResults {
    text-align: center;
    height: 100%;
    margin: 20px;
    position: relative;
}
#ProductNotFound {
    text-align: center;
    position: relative;

}
.IndexStyle {
    margin: 0 auto;
    width: 1400px;
}
.FilterTopMargin {
    margin-top: 20px;
}
#ProductFrame h6 {
    color: white;
}
#CategoriesBar {
    position: absolute;
    left: 280px;
}
#PageSelector {
    text-align: center;
    margin: 20px;
}
#SelectedPage {
    font-size: 18px;
    display: inline;
    font-weight: bold;
    background-color: rgb(98, 158, 255);
    padding: 15px 22px;
    border-radius: 50px;
}
.PageNumber {
    padding: 7px 15px;
    border-radius: 39px;
    background: rgb(36, 41, 143);
    border: 1px rgb(98, 158, 255) solid;
    color: #fff;
}

/* Begin inhoud winkelmand */
.cart{
    width:20%;
}

.HeaderWinkelmand {
    padding: 30px;
}

.CartGeheleTables td:last-child{
    text-align: right;
}

.CartGeheleTables th:last-child{
    text-align: right;
}

#cart_table{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;

}

#cart_table th{
    padding: 5px;
    color: #FFFFFF;
    font-weight: normal;
    background: #4370CB;
}

#cart_table td{
    padding: 10px 5px;
}

.Cart-ProductInfo {
    display: flex;
    flex-wrap: wrap;
}

.Cart-ProductInfo img {
    width: 220px;
    height: 220px;
    margin-right: 10px;
}

.Cart-ProductInfo h6 {
    margin-bottom: 15px;
}

.Cart-ProductInfo span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-width: 50ch;
    font-size: 15px;
    color: #d6d6d6;
}

.CartAantalInfo input[type="number"], select, textarea{
    width: 80px;
    height: 30px;
    background-color: #FFFFFF;
    color: black;
    border: 1px;
}

.CartAantalInfo button{
    background: none;
    color: #ffffff;
    background-color:#4370CB;
    padding: 5px;
    margin-left: 5px;
    border-style: none;
    border-radius: 32px;
}

.CartVerwijderKnop button {
    color: #f01a1a;
    background: none;
    border: none;
    font: inherit;
}

.CartVerwijderKnop button:hover{
    color: #ccc;
}

.CartVerwijderKnop {
    position: relative;
    top: 20px;
}

.TotaalPrijs {
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;
    margin-bottom: 3%;
}

.TotaalPrijs table{
    border-top: 2px solid #4370CB;
    width: 100%;
    max-width: 350px;
}

.KnopBovenOnder {
    position: static;
}

.KnopBovenOnder a{
    position: absolute;
    display:inline-block;
    padding: 5px 20px;
    border-radius: 32px;
    box-sizing: border-box;
    background-color:#4370CB;
    text-align:center;
    transition: all 0.2s;
}

.VerderWinkelen a {
    left: 10%;
}

.DoorgaanBetalen a {
    right: 10%;
}

#WinkelmandKnopBoven{
    bottom: 85px;
    position: relative;
}

#WinkelmandKnopOnder {
    padding-bottom: 6%;
}

.LeegWinkelwagen{
    position: absolute;
    left: 3%;
}
/* Einde inhoud winkelmand */


/* Begin image winkelmand van de header */
.cart-logo {
    position: absolute;
    right: 8%;
    top: 26%;
}

.cart-logo img {
    width: 30%;
    height: 30%;
    margin: 0 auto;
    display: block;
}

.cart-logo h5 {
    color: white;
    font-weight: normal;
    font-size: 19px;
}

/* Einde image winkelmand van de header */

#LogoImage {
    background-image: url("../Favicon/android-icon-96x96.png");
    background-repeat: no-repeat;
    background-size: contain;

}

/* Begin image user van de header */
.UserIcon{
    position: absolute;
    right: 17%;
    top: 22%;
}

.UserIcon img{
    width: 40%;
    height: 40%;
    display: block;
    margin: 0 auto;
}

.UserIcon h5{
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: 19px;
}
/* Einde image user van de header */

/* Begin Login page */
.LoginContainer{
    width: 25%;
    height: 530px;
    background: linear-gradient(to bottom right, #443561, #253652);
    border-radius: 20px;
    box-shadow: 0 15px 40px #33294A;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
}

.LoginContainer h3{
    color:#FFFFFF;
    text-align: center;
    margin-top: 5%;
}

.LoginContainer label{
    color: #FFFFFF;
}

.LoginInput{
    margin: 10% auto;
    width: 80%;
}

.LoginInput input[type="email"]{
    margin-bottom: 7%;
}

.LoginInput input[type="checkbox"]{
    display: none;
}

.LoginInput input[type="checkbox"] + label{
    display: inline-block;
    cursor: pointer;
    background-image: url(../Img/eye.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 12%;
    top: 44%;
}

.LoginInput input[type="checkbox"]:checked + label{
    background-image: url(../Img/eyeclosed.png);
}

.LoginInput button{
    margin: 10% auto;
    font-size: 20px;
    display: block;
    width: 100%;
    background: #00B900;
    color: #FFFFFF;
    border: 1px solid black;
    font-weight: 700;
    padding-bottom: 5px;
}

.LoginInput span{
    font-size: 16px;
    padding: 5px 0;
}

.LoginInput button:hover{
    background: #009900;
}

.GeenAccount{
    position: absolute;
    bottom: 5%;
    transform: translate(12%, 0);
}

.GeenAccount label{
    display: block;
    text-align: center;
}

.AcntAanmakenBtn{
    border: 1px solid black;
    font-size: 16px;
    padding: 5px 5.9vw;
    background: #00B900;
    color: #FFFFFF;
    font-weight: 700;
}

.AcntAanmakenBtn:hover{
    color: #FFFFFF;
    background: #009900;
}

#AlertInloggen{
    margin: 10px 0 0 10px;
    float: left;
}

/* Einde Login page */

/* Begin logout page */
.LogoutContainer{
    width: 30%;
    height: 530px;
    background: linear-gradient(to bottom right, #443561, #253652);
    border-radius: 20px;
    box-shadow: 0 15px 40px #33294A;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
}

.LogoutContainer h2{
    color: greenyellow;
    text-align: center;
    top: 5vh;
    position: relative;
}

.LogoutContainer span{
    font-style: italic;
    color: white;
}

.LogoutContainer input[type="submit"]{
    margin: 0 auto;
    font-size: 20px;
    display: block;
    width: 80%;
    background: #00B900;
    color: #FFFFFF;
    border: 1px solid black;
    font-weight: 700;
    padding-bottom: 5px;
}

.LogoutContainer label{
    display: block;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.UitlogKnop{
    top: 40vh;
    position: relative;
}

/* Einde logout page */

/* Begin opmaak error alert veld */

.Alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    width: 30%;
    display: inline-block;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* Einde opmaak error alert veld */

/* Begin order page */

.OrderContainer{
    margin-left: 5vw;
}

.PlaceOrderForm button{
    margin-top: 1%;
    padding: 5px;
    background: #00B900;
    color: #FFFFFF;
    border: 1px solid black;
    font-weight: 700;
}

.AdresVeranderen{
    margin-top: 30px;
}

.AdresVeranderen input{
    width: 40%;
    height: 5vh;
    display: block;
}

.AdresVeranderen label{
    margin-top: 0.5%;
    font-size: 18px;
}

.AdresVeranderen button{
    margin: 1% 0 1% 0;
    padding: 5px;
    background: #BD8B10;
    color: #FFFFFF;
    border: 1px solid black;
    font-weight: 700;
}

#AlertOrder{
    float: right;
    margin: 10px 15px 0 0;
}

/* Einde order page */

/* Begin toevoegen cart knop in view */
#ToevoegenProduct{
    float:right;
    width: 80%;
    position: relative;
    transform: translate(60%, -180%);
}

input#ImageButton{
    background-image: url(../Img/shopping-cart-black.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center left;
    background-color: #00B900;
    border: none;
    color: #FFFFFF;
}

input#QuantityDisplay{
    display: inline-block;

}
/* Einde toevoegen cart knop in view */

/*

form.cart{
    float:right;
    margin-top: 2%;
    margin-right: 1%;
    background-color: #212529;

}

form.cart input[type="number"]{
    background-color: #28242c;
    color:  #676EFF;
}


form.cart input[type="submit"]{
    background-color: #676EFF;
}
*/